%h2 Content Manager

.row-fluid
  .span4
    %h4 Built-in
    %ul
      -#%li= link_to "Sections", "/manage/sections"
      -#%li= link_to "Pages", manage_pages_path
      -#%li= link_to "Assets", manage_asset_items_path
      %li= link_to "Pages (Sitemap)", sitemap_manage_publications_path
      %li= link_to "Assets", manage_asset_files_path
  .span4
    %h4 Site-Specific
    %ul
      - @publishable_types.each do |pt|
        %li= link_to pt.name.singularize.tableize.titleize, send("manage_#{pt.name.tableize}_path")

  .span4
    = render :partial => '/manage/local_links'

.row-fluid
  .span12
    %h3 Other Site Settings
    %ul
      %li= link_to "Publishable Types", "/manage/publishable_types"

%br

