%li{:id => "asset_file_#{summary.id}"}
  .handle.ui-state-default
    .controls
      -#= link_to "edit", edit_manage_asset_file_path(summary), :class => "ui-icon ui-icon-pencil"
      = link_to "edit", edit_manage_asset_file_path(summary), :class => "ui-icon ui-icon-pencil", :data => { :toggle => 'modal', :target => '#editAssetFileModal' }
      = link_to "delete", manage_asset_file_path(summary), :method => "delete", :class => "ui-icon ui-icon-trash", :data => { :confirm => "Are you sure?" }, :remote => true
    -#= link_to "#{summary.title? ? summary.title : 'Untitled'} (#{summary.asset_file_name})", edit_manage_asset_file_path(summary)
    = link_to "#{summary.title? ? summary.title : 'Untitled'} (#{summary.asset_file_name})", edit_manage_asset_file_path(summary), :data => { :toggle => 'modal', :target => '#editAssetFileModal' }
    %br/
    .details
      = truncate(summary.asset.url, :length => 80)
