.row-fluid
  .span12
    .pull-right
      = form_for @search, :url => manage_asset_files_path, :html => {:method => :get} do |f|
        = f.label :asset_file_name_contains, "Search by filename"
        = f.text_field :asset_file_name_contains
        = f.submit :search

    %h2 Assets

    = will_paginate @asset_files

.row-fluid
  .span12
    %ul#publishables
      = render :collection => @asset_files, :partial => "summary"

    = will_paginate @asset_files
