<% if @publishable.publication.publishable_type == 'Publinator::Page' %>
  <% Publinator.options[:layout_areas].each do |area| %>
    <% area_sym = area.to_sym %>
    <% content_for area_sym do %>
      <%= @publishable.contents( area ) %>
    <% end %>
  <% end %>
<% else %>
  <%= m(@publishable.body) %>
<% end %>

<% if @publishable.respond_to?(:publishables) && @publishable.publishables.length > 0 && !@publishable.publishables.first.class.nil? && @publication.render_collection? %>
<ol id="documents">
  <%= render :collection => @publishable.publishables, :partial => "/object_blocks/#{@publishable.publishables.first.class.to_s.demodulize.underscore}" %>
</ol>
<% end %>

<% if @publication.collection_publishable_type_id && @publication.collection && @publication.render_collection? %>
<div class="<%= @publication.collection.first.class.to_s.pluralize.underscore %>">
  <%= render :collection => @publication.collection, :partial => "/object_blocks/#{@publication.collection.first.class.to_s.underscore}" %>
</div>
<% end %>

